.container-inicio{
  margin: 3rem 5rem;
  padding: 1rem;
  border: solid 1px #57575763  ;
  border-radius: 10px;
  box-shadow: 0 0 5px #0000009a;
  height: 70vh;
  display: grid;
  grid-template-rows: 70% 30%;
  align-content: space-between;
  align-items: center;
}
.container {
  display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    overflow-y: scroll;
}
.button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}

